/* 1 rem = 16px*/
/* font-size: 62,5; Es para que 1 rem sea de 10px*/
/* font */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');
/*   font-family: "Cormorant Garamond", serif; */
*{
    margin: 0;
    padding: 0;
}

/* header */

header h1{
    margin-block-end: 2px;
    color:antiquewhite ;
    background-color: #697565;
    padding-left:5px ;
    
}





/* BODY */


/* Grid de index */


/* Fin Grid index */

/* Grid Mates */
.grid-mates{
    display: grid;
    grid-template-areas: 
    "img-1 img-2 img-3"
    "txt-1 txt-2 txt-3"
    "img-4 img-5 img-6"
    "txt-4 txt-5 txt-6"
    ;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 280px 150px 280px 150px;
}
.img-1{
    grid-area: img-1;
}
.img-2{
    grid-area: img-2;
}
.img-3{
    grid-area: img-3;
}
.txt-1{
    grid-area: txt-1;
}
.txt-2{
    grid-area: txt-2;
}
.txt-3{
    grid-area: txt-3;
}
.img-4{
    grid-area: img-4;
}
.img-5{
    grid-area: img-5;
}
.img-6{
    grid-area: img-6;
}
.txt-4{
    grid-area: txt-4;
}
.txt-5{
    grid-area: txt-5;
}
.txt-6{
    grid-area: txt-6;
}
/* fin grid "mates" */

.nosotros{
    text-align: center;
    font-weight: bold;
    margin-top: 2%;
    margin-bottom: 10%;
    color: #1E201E;
    font-size: 1.5rem;
    
}
.envios{
    margin-left: 5%;
    margin-top: 2%;
    font-weight: bold;
    font-size: larger;
}

/* Grid Productos */

.grid-productos{
    display: grid;
    grid-template-areas: 
    "imagen1 imagen2 imagen3"
    "texto1 texto2 texto3"
    "imagen4 imagen5 imagen6"
    "texto4 texto5  texto6"
    ;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 390px 50px 390px 100px;
    margin-left: 10%;
    
}
.imagen1{
    grid-area: imagen1;
}
.imagen2{
    grid-area: imagen2;
}
.imagen3{
    grid-area: imagen3;
}
.texto1{
    grid-area: texto1;
}
.texto2{
    grid-area: texto2;
}
.texto3{
    grid-area: texto3;
}
.imagen4{
    grid-area: imagen4;
}
.imagen5{
    grid-area: imagen5;
}
.imagen6{
    grid-area: imagen6;
}
.texto4{
    grid-area: texto4;
}
.texto5{
    grid-area: texto5;
}
.texto6{
    grid-area: texto6;
}


/* footer */
footer{
    background-color: #1E201E;
    padding: 50px;

}
section p{ 
    color: aliceblue;
    font-size: x-large;
    margin: 0px 4px 4px 8px
}
.contacto{
    width: 30px;
    height: 25px;
    text-align: left;
    
}
.visit{
    text-align: center;
    margin-block-start: -9%;
}
.mapa{
    width: 15%;
    height: 20%;
    margin-left: 35%;
}
.redes{
    text-align: end;
    margin-block-start: -9%;
}
.insta img{
    width: 40px;
    margin-inline-start: 85%;
    margin-block-end: 4%;
}

/* Responsive */
/* Movil */
@media (max-width:480px){
    header img{
        margin-inline-start: 30%;
    }
    .logo{
        display: none;
        
    }
    .navbar-brand{
        color: white;
        font-size: 1.8rem;
        margin-right: 0px;
        font-size: bold;
    }
    main iframe{
        width: 100%;
        margin-top: 8px;
    }
    main img{
        height: 280px ;
        margin-left: 0%;
    }
    .contenedor-grid{
        display: grid;
        grid-template-areas: 
        "titulo"
        "imagen1"
        "texto1"
        "imagen3"
        "texto3"
        "imagen5"
        "texto5";
        grid-template-columns: 100%;
        grid-template-rows: 50px 200px 150px 200px 125px 200px 180px;
    
    }
    

    .img2{
        display: none;
    }
    .img3{
        grid-area: imagen3;
    }
    .txt2{
        display: none;
    }
    .img4{
        display: none;
    }
    .img6{
        display:none ;
    }
    .txt4{
        display: none;
    }
    .txt6{
        display: none;
    }
    main section img{
        margin-left: 10%
    }

    footer{
        background-color: #1E201E;
        padding: 30px;
    
    }
    section p{ 
        color: aliceblue;
        font-size: large;
        margin: 0px;
    }
    .contacto{
        display: none;
        
    }
    .visit{
        display: none;
    }
    .mapa{
        display: none;
    }
    .redes{
        display: none;
    }
    .insta img{
        display: none;
    }



    /* MATES */
    .grid-mates{
        display: grid;
        grid-template-areas: 
        "img-1 img-2"
        "txt-1 txt-2"
        "img-4 img-5"
        "txt-4 txt-5"
        ;
        grid-template-columns: 50% 50%;
        grid-template-rows: 180px 150px 180px 250px;
    }
    .img-1{
        grid-area: img-1;
        height: 180px;
    }
    .img-2{
        grid-area: img-2;
        height: 180px;
    }
    .img-3{
        display: none;
    }
    .txt-3{
        display: none;
    }
    .img-4{
        grid-area: img-4;
        height: 180px;
    }
    .img-5{
        grid-area: img-5;
        height: 180px;
    }
    .img-6{
        display: none;
    }
    .txt-6{
        display: none;
    }
    main img{
        margin-left: 0%;
    }





}

/* tablet */
@media (min-width:481px) and (max-width:769px){

}






















































