
main{
    .tit-mates{
        margin: 0,5%;
        text-decoration: underline azure;
        margin-top: 2%;
    }
    .grid-mates{
        
        display: grid;
        grid-template-areas: 
        "img-1 img-2 img-3"
        "txt-1 txt-2 txt-3"
        "img-4 img-5 img-6"
        "txt-4 txt-5 txt-6"
        "img-7 img-8 img-9"
        "txt-7 txt-8 txt-9"
        ;
        grid-template-columns: 32% 32% 32%;
        grid-template-rows: 280px 200px 280px 200px 280px 150px;
        img{
            border-radius: 10px 10px 10px 10px;
            margin: 10%;
            width: 250px;
            height: 400px;
            margin-left: 30% ;
        }
        img:hover{
            transform: scale(1.1,1.1);
        }
        p{
            margin-top: 30%;
            margin-left: 31% ;
            font-weight: bold;
            font-size: 22px;
        }
        p:hover{
            text-decoration: underline;
            color: azure;
        }
    
        img{
            width: 300px; 
        }
        .img-1{
            grid-area: img-1;
        }
        .img-2{
            grid-area: img-2;
        }
        .img-3{
            grid-area: img-3;
        }
        .txt-1{
            grid-area: txt-1;
        }
        .txt-2{
            grid-area: txt-2;
        }
        .txt-3{
            grid-area: txt-3;
        }
        .img-4{
            grid-area: img-4;
        }
        .img-5{
            grid-area: img-5;
        }
        .img-6{
            grid-area: img-6;
        }
        .txt-4{
            grid-area: txt-4;
        }
        .txt-5{
            grid-area: txt-5;
        }
        .txt-6{
            grid-area: txt-6;
        }
        .img-7{
            grid-area: img-7;
        }
        .img-8{
            grid-area: img-8;
        }
        .img-9{
            grid-area: img-9;
        }
        .txt-7{
            grid-area: txt-7;
        }
        .txt-8{
            grid-area: txt-8;
        }
        .txt-9{
            grid-area: txt-9;
        }
    }
}