main{
    .nosotros{
    text-align: center;
    font-weight: bold;
    margin-top: 1%;
    margin-bottom: 5%;
    color: #1E201E;
    font-size: 1.5rem;
    }
    .tit-nos{
        text-align: center;
        font-weight: bold;
        margin-top: 1%;
        font-size: 3rem;
        animation-name: efecto;
        animation-iteration-count: 1;
        animation-duration: 4s;
    }
    @keyframes efecto {
        0%{
        color: rgb(10, 104, 10);
        transform: translateX(-400px);
        }
        50%{
            color: #CA7842;
        }
        100%{
        color: #758066 ;
        }
    } 
    .subtitulo{
        margin-left: 2%;
        text-decoration: underline rgb(121, 150, 106);
        animation: desliz;
        animation-timing-function: 1;
        animation-duration: 2s;
    }
    @keyframes desliz {
        0%{
            transform: translateX(180px);
        }
        100%{
            
        }
    }    
    .carousel-inner{
        display: flex;
        position: relative;
        left: 650px;
        width:  800px;
        height: fit-content;
        
        background-size: contain;
        
    }
    .promo{
        font-size: 22px;
    }
    p{
        font-size:25px;
        margin-left: 1%;
        font-weight: bolder;
    }
}